@model IEnumerable<EndoriskProject.Models.romequestion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.romeQuestion1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.romeChoice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.romeQuestion1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.romeChoice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idRomeQuestion }) |
            @Html.ActionLink("Details", "Details", new { id=item.idRomeQuestion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idRomeQuestion })
        </td>
    </tr>
}

</table>
