@model IEnumerable<EndoriskProject.Models.romediagnosi>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.disease)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diagnosis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.disease)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diagnosis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idDiagnosis }) |
            @Html.ActionLink("Details", "Details", new { id=item.idDiagnosis }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idDiagnosis })
        </td>
    </tr>
}

</table>
