@model IEnumerable<EndoriskProject.Models.romechoice>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.romeChoice1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.romeOption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.value)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.romeChoice1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.romeOption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.value)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idRomeChoices }) |
            @Html.ActionLink("Details", "Details", new { id=item.idRomeChoices }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idRomeChoices })
        </td>
    </tr>
}

</table>
